@font-face {
    font-family: 'Jokerman';
    src: url('/css/JOKERMAN.TTF');
}

.achtergrond {
    -fx-background-image:url("/images/backgroundv2.jpg");
    -fx-background-size:stretch;
    -fx-background-opacity: 0.5;
}

#groteKnop {
   -fx-font-family: "Jokerman";
   -fx-font-size: 25px;
   -fx-text-align: center;
   -fx-background-radius: 50;
   -fx-border: 2px solid;
   -fx-background-color:brown;
   -fx-text-fill:orange;
   -fx-stroke: yellow;
   
   
}

.dobbelScherm{
    
    
}

.dobbelsteen {
    -fx-font-size: 0px;
}
